#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "jackett"
name = "Jackett"
description.en = "API support for your favorite torrent trackers"
description.fr = "API pour vos trackers torrent préférés"

version = "0.24.988~ynh1"

maintainers = ["Navan Chauhan"]

[upstream]
license = "GPL-2.0"
code = "https://github.com/Jackett/Jackett"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = ["amd64", "arm64", "armhf"]
multi_instance = true

ldap = false
sso = false

disk = "200M"
ram.build = "500M"
ram.runtime = "200M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/jackett"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
    [resources.sources.main]
    amd64.url = "https://github.com/Jackett/Jackett/releases/download/v0.24.988/Jackett.Binaries.LinuxAMDx64.tar.gz"
    amd64.sha256 = "49a4e6f1b674ef4835c87f57c7696de3b3cb9584b82dd0cc9a0d7b89d1bdfbaf"
    arm64.url = "https://github.com/Jackett/Jackett/releases/download/v0.24.988/Jackett.Binaries.LinuxARM64.tar.gz"
    arm64.sha256 = "37f266ababbecd02575ebc6d2d20aef5e10582cc36dc88e6d593fa096b297967"
    armhf.url = "https://github.com/Jackett/Jackett/releases/download/v0.24.988/Jackett.Binaries.LinuxARM32.tar.gz"
    armhf.sha256 = "e18745c085b5322c52d1e5a5d40e1c9e237fd0633201a7d0aadf29932a2ca8c0"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = "^Jackett.Binaries.LinuxAMDx64.tar.gz$"
    autoupdate.asset.arm64 = "^Jackett.Binaries.LinuxARM64.tar.gz$"
    autoupdate.asset.armhf = "^Jackett.Binaries.LinuxARM32.tar.gz$"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 9117
