#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "jackett"
name = "Jackett"
description.en = "API support for your favorite torrent trackers"
description.fr = "API pour vos trackers torrent préférés"

version = "0.24.262~ynh1"

maintainers = ["Navan Chauhan"]

[upstream]
license = "GPL-2.0"
code = "https://github.com/Jackett/Jackett"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = ["amd64", "arm64", "armhf"]
multi_instance = true

ldap = false
sso = false

disk = "200M"
ram.build = "500M"
ram.runtime = "200M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/jackett"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
    [resources.sources.main]
    amd64.url = "https://github.com/Jackett/Jackett/releases/download/v0.24.262/Jackett.Binaries.LinuxAMDx64.tar.gz"
    amd64.sha256 = "581839b0956363c00fab71550dc2317fdeb9f71b6bc383378f8151001d9c97c8"
    arm64.url = "https://github.com/Jackett/Jackett/releases/download/v0.24.262/Jackett.Binaries.LinuxARM64.tar.gz"
    arm64.sha256 = "a53a90558c2c67a10f6802b900fe1f3af4048db24b98c5468a8ea694a9b86222"
    armhf.url = "https://github.com/Jackett/Jackett/releases/download/v0.24.262/Jackett.Binaries.LinuxARM32.tar.gz"
    armhf.sha256 = "77885e01b4534945a5ea77c7e26d8693557e3e85fd40badcaba38a7c8a126742"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = "^Jackett.Binaries.LinuxAMDx64.tar.gz$"
    autoupdate.asset.arm64 = "^Jackett.Binaries.LinuxARM64.tar.gz$"
    autoupdate.asset.armhf = "^Jackett.Binaries.LinuxARM32.tar.gz$"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 9117
