#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "jackett"
name = "Jackett"
description.en = "API support for your favorite torrent trackers"
description.fr = "API pour vos trackers torrent préférés"

version = "0.24.957~ynh1"

maintainers = ["Navan Chauhan"]

[upstream]
license = "GPL-2.0"
code = "https://github.com/Jackett/Jackett"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = ["amd64", "arm64", "armhf"]
multi_instance = true

ldap = false
sso = false

disk = "200M"
ram.build = "500M"
ram.runtime = "200M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/jackett"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
    [resources.sources.main]
    amd64.url = "https://github.com/Jackett/Jackett/releases/download/v0.24.957/Jackett.Binaries.LinuxAMDx64.tar.gz"
    amd64.sha256 = "746f8a6b8f6504c324fbc33c8cc092b4479d5f4014bb83adb7ee393c1db791dd"
    arm64.url = "https://github.com/Jackett/Jackett/releases/download/v0.24.957/Jackett.Binaries.LinuxARM64.tar.gz"
    arm64.sha256 = "81fba2c5b5f4dfb9dce56fb13f19c98df8636d3873f67241a4195341e275df34"
    armhf.url = "https://github.com/Jackett/Jackett/releases/download/v0.24.957/Jackett.Binaries.LinuxARM32.tar.gz"
    armhf.sha256 = "952809c5061bb0f444e226dd4b371ca8d638aa4a77a7eb45d54af758812aac5e"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = "^Jackett.Binaries.LinuxAMDx64.tar.gz$"
    autoupdate.asset.arm64 = "^Jackett.Binaries.LinuxARM64.tar.gz$"
    autoupdate.asset.armhf = "^Jackett.Binaries.LinuxARM32.tar.gz$"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 9117
